In [41]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [42]:
# We'll use Pandas to read our CSV file and create the locations and measurements from the DataFrame.
# We'll use gmaps and the API key to create heatmaps and the locations map, and
# we'll use the requests dependency to make a request to the Google Places JSON file.
# This will allow us to get hotel locations from the latitude and longitude of the city.

In [43]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Gaube,MU,2020-11-22 17:20:09,-20.01,57.66,75.99,75,28,3.00
1,1,Orkney,ZA,2020-11-22 17:20:09,-26.98,26.67,73.87,61,48,14.45
2,2,Mataura,NZ,2020-11-22 17:20:10,-46.19,168.86,41.00,94,87,1.01
3,3,Marabba,SD,2020-11-22 17:20:10,12.35,32.18,83.48,20,46,10.94
4,4,Kuching,MY,2020-11-22 17:20:10,1.55,110.33,77.00,94,40,3.36

In [44]:
# One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number. 
# Let's check the data types for the columns of our DataFrame.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [45]:
# Configure gmaps to use your Google API key. You only need to configure gmaps to use your API key once.
gmaps.configure(api_key=g_key)

In [46]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [49]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer) 
# Add the heatmap layer.
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Heatmap of Percent Humidity

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Heatmap of Percent Cloudiness

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# Heatmap of Wind Speed

# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# 6.5.3 Get vacation criteria

In [56]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [57]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Gaube,MU,2020-11-22 17:20:09,-20.01,57.66,75.99,75,28,3.00
3,3,Marabba,SD,2020-11-22 17:20:10,12.35,32.18,83.48,20,46,10.94
4,4,Kuching,MY,2020-11-22 17:20:10,1.55,110.33,77.00,94,40,3.36
6,6,San Cristobal,VE,2020-11-22 17:20:10,7.77,-72.22,86.00,58,40,6.93
8,8,Bambous Virieux,MU,2020-11-22 17:20:11,-20.34,57.76,75.99,88,75,10.29
10,10,Arraial Do Cabo,BR,2020-11-22 17:20:11,-22.97,-42.03,78.80,65,40,12.75
11,11,Atuona,PF,2020-11-22 17:20:11,-9.80,-139.03,77.14,72,8,14.83
14,14,Molina,CL,2020-11-22 17:20:12,-35.12,-71.28,82.00,33,0,9.17
17,17,Sao Gabriel Da Cachoeira,BR,2020-11-22 17:20:12,-0.13,-67.09,85.08,78,82,2.73
26,26,Vila Velha,BR,2020-11-22 17:20:14,-20.33,-40.29,81.00,69,20,10.29

In [58]:
# Determine if there are any null values in any of the rows
preferred_cities_df.count()

City_ID       167
City          167
Country       166
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [68]:
preferred_cities_df[preferred_cities_df.Country.isnull()]

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
66,66,Rundu,NaN,2020-11-22 17:20:19,-17.93,19.77,80.22,49,48,4.03

In [73]:
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Gaube,MU,2020-11-22 17:20:09,-20.01,57.66,75.99,75,28,3.00
3,3,Marabba,SD,2020-11-22 17:20:10,12.35,32.18,83.48,20,46,10.94
4,4,Kuching,MY,2020-11-22 17:20:10,1.55,110.33,77.00,94,40,3.36
6,6,San Cristobal,VE,2020-11-22 17:20:10,7.77,-72.22,86.00,58,40,6.93
8,8,Bambous Virieux,MU,2020-11-22 17:20:11,-20.34,57.76,75.99,88,75,10.29
...,...,...,...,...,...,...,...,...,...,...
531,531,Odienne,CI,2020-11-22 17:21:27,9.51,-7.57,89.91,28,39,3.47
532,532,Banda Aceh,ID,2020-11-22 17:21:28,5.56,95.32,79.27,71,99,9.42
534,534,Saint-Joseph,RE,2020-11-22 17:21:28,-21.37,55.62,75.20,73,75,18.34
542,542,Maningrida,AU,2020-11-22 17:21:29,-12.07,134.27,82.51,70,64,5.28
543,543,Kloulklubed,PW,2020-11-22 17:21:29,7.04,134.26,77.00,94,75,3.65

In [74]:
# 6.5.4 Map vacation criteria

In [75]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp    Lat     Lng Hotel Name
0                Grand Gaube      MU     75.99 -20.01   57.66
3                    Marabba      SD     83.48  12.35   32.18
4                    Kuching      MY     77.00   1.55  110.33
6              San Cristobal      VE     86.00   7.77  -72.22
8            Bambous Virieux      MU     75.99 -20.34   57.76
10           Arraial Do Cabo      BR     78.80 -22.97  -42.03
11                    Atuona      PF     77.14  -9.80 -139.03
14                    Molina      CL     82.00 -35.12  -71.28
17  Sao Gabriel Da Cachoeira      BR     85.08  -0.13  -67.09
26                Vila Velha      BR     81.00 -20.33  -40.29

In [76]:
# Retrieve Hotels from a Nearby Search
# The first step for retrieving hotels from a Nearby Search is to set the parameters for the search.

In [77]:
# The Nearby Search request lets us perform these tasks:

# Search for places within a specified area.
# Refine the search using keywords and specifying the type of place we are searching for.
# Use an API URL, where the output can be either XML or JSON format.

In [79]:
# For our hotel search, we'll use these parameters:

# 1. API key (Required)
# 2. Latitude and longitude (Required)
# 3. 5,000-meter radius (Required; up to ~50,000m)
# 4. Type of place (Optional but we will specify). Google Places API lists all the Place types. We will use "lodging"

In [81]:
#  we can make a request with the Google Places API.
# The following base URL is provided to retrieve the JSON format of the data:

# https://maps.googleapis.com/maps/api/place/nearbysearch/json

In [82]:
# and we can add the parameters as a dictionary of strings,
# using the params keyword argument requests.get('base URL', params=parameters)

In [86]:
# Add the parameters as key-value pairs.
# Add the params dictionary, API key, type, and radius parameters as follows:

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame. 
# At the end, we add the name of the first hotel to the Hotel Name column in the hotel_df DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [87]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Grand Gaube,MU,75.99,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa
3,Marabba,SD,83.48,12.35,32.18,
4,Kuching,MY,77.00,1.55,110.33,Hilton Kuching
6,San Cristobal,VE,86.00,7.77,-72.22,Pirineos
8,Bambous Virieux,MU,75.99,-20.34,57.76,Casa Tia Villa
...,...,...,...,...,...,...
531,Odienne,CI,89.91,9.51,-7.57,Oustaz Vame DIAKITE
532,Banda Aceh,ID,79.27,5.56,95.32,OYO 884 Rumoh PMI Hotel
534,Saint-Joseph,RE,75.20,-21.37,55.62,"""Plantation Bed and Breakfast"
542,Maningrida,AU,82.51,-12.07,134.27,Dhukurrdji Lodge
543,Kloulklubed,PW,77.00,7.04,134.26,Storyboard Beach Resort

In [94]:
# Add an info_box_template that has the following syntax:

## info_box_template = """
## <dl>
## <dt>Name</dt><dd>{column1}</dd>
## <dt>Another name</dt><dd>{column2}</dd>
## </dl>
## ""

# What is means in plain point form:

## Description List: <dl>
##   Description Term: <dt>
##     Description Definition: <dd>
##   Description Term: <dt>
##     Description Definition: <dd>


# For our purposes, we'll add the hotel name, city name, country code, and the maximum temperature values 
# from the hotel_df DataFrame as the description definition.

In [96]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Code review:

# We set the hotel_info equal to the info_box_content.

# In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(),

#   we iterate through each "row" of the hotel_df DataFrame
#   and then format the info_box_template with the data we set to populate the from each row.
#   Remember, we are not using every row; we are only using the rows defined in the info_box_template,
#   which are Hotel Name, City, Country, and Max Temp.

In [97]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame

# Add a heatmap of temperature for the vacation spots, and add markers for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))