## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,2020-11-23 17:19:00,3.07,172.79,81.30,75,70,10.27,broken clouds
1,1,Tuktoyaktuk,CA,2020-11-23 17:19:00,69.45,-133.04,-0.40,84,20,11.41,few clouds
2,2,Jamestown,US,2020-11-23 17:16:31,42.10,-79.24,36.00,86,90,13.58,mist
3,3,Manicore,BR,2020-11-23 17:19:00,-5.81,-61.30,89.71,60,100,1.25,light rain
4,4,Safaga,EG,2020-11-23 17:19:00,26.73,33.94,71.60,46,0,3.36,clear sky

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,2020-11-23 17:19:00,3.07,172.79,81.30,75,70,10.27,broken clouds
4,4,Safaga,EG,2020-11-23 17:19:00,26.73,33.94,71.60,46,0,3.36,clear sky
6,6,Hithadhoo,MV,2020-11-23 17:19:01,-0.60,73.08,82.24,75,72,9.01,broken clouds
8,8,Pringsewu,ID,2020-11-23 17:19:01,-5.36,104.97,73.99,92,100,3.00,overcast clouds
10,10,Itoman,JP,2020-11-23 17:19:01,26.12,127.67,71.60,73,75,12.75,broken clouds
14,14,Lorengau,PG,2020-11-23 17:19:02,-2.02,147.27,82.06,76,61,8.88,broken clouds
16,16,Poum,NC,2020-11-23 17:19:02,-20.23,164.02,76.50,76,8,13.71,clear sky
24,24,Abu Dhabi,AE,2020-11-23 17:17:31,24.47,54.37,80.60,51,40,10.29,scattered clouds
32,32,Cabo San Lucas,MX,2020-11-23 17:18:33,22.89,-109.91,84.99,37,5,1.39,clear sky
33,33,Doha,QA,2020-11-23 17:16:22,25.29,51.53,73.40,40,0,8.05,clear sky

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                224
City                   224
Country                223
Date                   224
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Current Description    224
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,2020-11-23 17:19:00,3.07,172.79,81.30,75,70,10.27,broken clouds
4,4,Safaga,EG,2020-11-23 17:19:00,26.73,33.94,71.60,46,0,3.36,clear sky
6,6,Hithadhoo,MV,2020-11-23 17:19:01,-0.60,73.08,82.24,75,72,9.01,broken clouds
8,8,Pringsewu,ID,2020-11-23 17:19:01,-5.36,104.97,73.99,92,100,3.00,overcast clouds
10,10,Itoman,JP,2020-11-23 17:19:01,26.12,127.67,71.60,73,75,12.75,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
667,667,Harper,LR,2020-11-23 17:20:40,4.38,-7.72,80.74,81,53,8.48,light rain
672,672,Bemban,MY,2020-11-23 17:20:41,2.27,102.37,78.80,88,20,5.82,heavy intensity rain
673,673,Ternate,ID,2020-11-23 17:20:41,0.80,127.40,81.50,76,97,3.96,overcast clouds
674,674,Lubao,PH,2020-11-23 17:20:41,14.92,120.55,77.00,73,75,6.93,broken clouds
677,677,Damietta,EG,2020-11-23 17:20:42,31.42,31.81,71.60,78,40,8.05,scattered clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.30,broken clouds,3.07,172.79,
4,Safaga,EG,71.60,clear sky,26.73,33.94,
6,Hithadhoo,MV,82.24,broken clouds,-0.60,73.08,
8,Pringsewu,ID,73.99,overcast clouds,-5.36,104.97,
10,Itoman,JP,71.60,broken clouds,26.12,127.67,
14,Lorengau,PG,82.06,broken clouds,-2.02,147.27,
16,Poum,NC,76.50,clear sky,-20.23,164.02,
24,Abu Dhabi,AE,80.60,scattered clouds,24.47,54.37,
32,Cabo San Lucas,MX,84.99,clear sky,22.89,-109.91,
33,Doha,QA,73.40,clear sky,25.29,51.53,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.30,broken clouds,3.07,172.79,Isles Sunset Lodge
4,Safaga,EG,71.60,clear sky,26.73,33.94,Lamar Resort Abu Soma
6,Hithadhoo,MV,82.24,broken clouds,-0.60,73.08,Scoop Guest House
8,Pringsewu,ID,73.99,overcast clouds,-5.36,104.97,Urban Style by Front One
10,Itoman,JP,71.60,broken clouds,26.12,127.67,Southern Beach Hotel & Resort Okinawa
...,...,...,...,...,...,...,...
667,Harper,LR,80.74,light rain,4.38,-7.72,Screensaver
672,Bemban,MY,78.80,heavy intensity rain,2.27,102.37,NeoHomeStay Gapam Lestari
673,Ternate,ID,81.50,overcast clouds,0.80,127.40,Grand Dafam Bela Ternate
674,Lubao,PH,77.00,broken clouds,14.92,120.55,Hacienda Gracia
677,Damietta,EG,71.60,scattered clouds,31.42,31.81,العواد لتجارة الابلكاش

In [41]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.drop(hotel_df[hotel_df['Hotel Name'] == ""].index)
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,81.30,broken clouds,3.07,172.79,Isles Sunset Lodge
4,Safaga,EG,71.60,clear sky,26.73,33.94,Lamar Resort Abu Soma
6,Hithadhoo,MV,82.24,broken clouds,-0.60,73.08,Scoop Guest House
8,Pringsewu,ID,73.99,overcast clouds,-5.36,104.97,Urban Style by Front One
10,Itoman,JP,71.60,broken clouds,26.12,127.67,Southern Beach Hotel & Resort Okinawa
...,...,...,...,...,...,...,...
667,Harper,LR,80.74,light rain,4.38,-7.72,Screensaver
672,Bemban,MY,78.80,heavy intensity rain,2.27,102.37,NeoHomeStay Gapam Lestari
673,Ternate,ID,81.50,overcast clouds,0.80,127.40,Grand Dafam Bela Ternate
674,Lubao,PH,77.00,broken clouds,14.92,120.55,Hacienda Gracia
677,Damietta,EG,71.60,scattered clouds,31.42,31.81,العواد لتجارة الابلكاش

In [44]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [45]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [46]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))